
.article-div {
  width :80%;
  margin: 0 auto;
}

.article-par-padding {
  padding-top: 1%;
}

@media (max-width : 420px) {

  .article-div {
    width :95%;
    margin: 0 auto;
  }

  .article-par-padding {
    padding-top: 4%;
  }

}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.blue-text {
  color: blue;
}

.yellow-text {
  color: yellow;
}


.white-text {
  color: white;
}
 
.article-img_description {
  text-align: left;
}

.blue {
  background-color: blue;
  color: white;
}

.blog-option-title {
  text-decoration: none;
}


.center-text-align-left{
    display: inline-block; 
    text-align: left;
}


.blog-option-value {
  color: black;
  text-decoration: none;
  text-align: left;
}

.pe-text  {
  font-family: 'Montserrat', sans-serif;
}

.roboto {
  font-family: 'Roboto';
}

.pe-text-110  {
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
}

.pe-text-120  {
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}


.Roboto-text-110 {
  font-family: 'Roboto';
  font-size: 140%;
  padding-bottom: 2%;
}


.font-header {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: "left";
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.align-center {
  text-align: center;

}

.text-large {
  font-size: 120%;
}

.text-larger {
  font-size: 150%;
}